@import url(https://unpkg.com/nes.css/css/nes-core.min.css);
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body, div#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1em;
    min-width: 60%;
}

#side-bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em;
    padding: 0.2em;
    max-width: 30em;
}

#side-bar div p {
    margin-top: 0;
    text-align: center;
}

h1 {
    margin-top: 0.2em;
}

h2 {
    font-size: 1em;
    margin-top: 0.2em;
}

svg#gridworld {
    font-size: 2.4em;
    overflow: visible;
    width: auto;

}

svg#keys {
    height: 3em;
    width: 6em;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.agent {
    fill: black;
    stroke-width: 2;
    stroke: grey;
    animation: blinker 4s linear infinite;
    animation: move 5s ease infinite;
}

#training button {
    width: 80%;
    margin: 0.4em;
}

#main-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#game-container progress {
    margin: 1em;
    height: 2em;
    width: 80%;
}

#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

figcaption {
    text-align: center;
}

#battery h2 {
    padding-top: 1em;
    margin: 0;
}

#battery progress {
    margin: 0;
    width: 100%;
}

#ready-button {
    margin: 0.4em;
}

#experiment-over {
    justify-content: center;
    min-height: 30em;
}


figure#robot2human {
    height: 10em;
    align-items: center;
}

#robot2human tspan {
    font-family: "Press Start 2P";
}


div#instructions p {
    text-align: left;
    padding: 0.5em;
}


div#intro2-expo {
    max-width: 50%;
    margin: 1em;
}


div#intro2-expo p, div#intro2-expo figure, div#intro2-expo button {
    animation: turnon 1s linear forwards;
    opacity: 0;
}

div#intro2-expo :nth-child(2) {
    animation-delay: 3s;
}

div#intro2-expo :nth-child(3) {
    opacity: 0;
    animation-delay: 6s;
}

div#intro2-expo :nth-child(4) {
    animation-delay: 9s;
}

div#intro2-expo :nth-child(5) {
    animation-delay: 13s;
}

div#intro2-expo :nth-child(6) {
    animation-delay: 16s;
}

div#intro2-expo :nth-child(7) {
    animation-delay: 19s;
}


@keyframes turnon {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20em;
}
