@import url(https://unpkg.com/nes.css/css/nes-core.min.css);
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
/*@import url(https://unpkg.com/purecss@1.0.0/build/pure-min.css);*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1em;
    min-width: 60%;
}

#side-bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em;
    padding: 0.2em;
    max-width: 30em;
}

#side-bar div p {
    margin-top: 0;
    text-align: center;
}

h2 {
    font-size: 1em;
    margin-top: 0.2em;
}

svg#gridworld {
    font-size: 2.4em;
    overflow: visible;
    width: auto;

}

svg#keys {
    height: 3em;
    width: 6em;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.agent {
    fill: black;
    stroke-width: 2;
    stroke: grey;
    animation: blinker 4s linear infinite;
    animation: move 5s ease infinite;
}

#training button {
    width: 80%;
    margin: 0.4em;
}

#main-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#game-container progress {
    margin: 1em;
    height: 2em;
    width: 80%;
}

#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

figcaption {
    text-align: center;
}

#battery h2 {
    padding-top: 1em;
    margin: 0;
}

#battery progress {
    margin: 0;
    width: 100%;
}

#ready-button {
    margin: 0.4em;
}

#experiment-over {
    justify-content: center;
    min-height: 30em;
}
