<h1>Introduction - 2</h1>
<div id="intro2-expo">
    <p class="nes-container">At this point you may be wondering what task you are
        supposed to perform...</p>
    <p class="nes-container wait_5s">Unfortunately, I can't tell you...</p>
    <p class="nes-container">But upon, request Professor Bot can provide good (and
        bad) examples of the task.
    </p>
    <figure id="robot2human">
    </figure>

    <p class="nes-container">After you are done interacting with Professor Bot,
        you will be asked to perform the task. 
    </p>
    <p class="nes-container">At the end of the experiment
        you'll find out how well you did!</p>
    <button class="nes-btn is-primary"
            onclick="send('TOGGLE')">Click to Interact with Professor Bot</button>
</div>
